@import "colors";

body,
html {
  margin: 0;
  padding: 0;
  background-color: $gray-light;
  color: $font-primary-color;
}

* {
  box-sizing: border-box;
}

a {
  color: mat-color($primary-color);
  text-decoration: none;
}
